<div id="description">
	<div class="header">
		<h1>KaggleBadge</h1>
	</div>
	<div class="content">
		<p>Generate badges for your Kaggle competitions and keep them up to date by knowing your current position in the leaderboard</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore reiciendis, labore fuga dolorem, omnis sint, est possimus, cum debitis culpa facilis optio. Quisquam minima cumque sunt, eligendi, voluptas eveniet in.</p>
		<p>Aspernatur unde ratione, praesentium, minima quidem adipisci distinctio tenetur! Qui enim necessitatibus nesciunt cum veritatis tempore nemo quis repellat repudiandae, quam? Eius magnam repudiandae eaque, facilis magni nobis impedit incidunt?</p>
		<p>Rem hic quibusdam cupiditate facilis ipsa in, quo inventore! Consequuntur explicabo, voluptate autem. Non incidunt, modi architecto eum neque eveniet perspiciatis. Cupiditate labore, quisquam debitis, placeat quaerat sapiente explicabo recusandae?</p>
		<p>Vel rem praesentium maxime aut labore similique aspernatur accusamus atque, dolorum minima laborum earum nulla nisi nostrum consectetur est. Doloribus hic sunt aperiam ipsam ratione dicta rerum dolorem provident illo.</p>
	</div>
</div>
<div id="register">
	<%= form_for(@user) do |f| %>
		<div class="form-group">
			<%= f.label "Username" %>
			<%= f.text_field :name, type: "text", class: "form-control", :placeholder => "Username" %>
		</div>
		<div class="form-group">
			<%= f.label "Email address" %>
			<%= f.email_field :email, type: "email", class: "form-control", :placeholder => "Email address" %>
		</div>
		<div class="form-group">
			<%= f.label :password %>
			<%= f.password_field :password, type: "password", class: "form-control", :placeholder => "Password" %>
		</div>
		<div class="form-group">
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, type: "password", class: "form-control", :placeholder => "Re-enter your password"%>
		</div>
		<%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
</div>
