<% provide(:title, "challenges") %>
<h1 class="text-center">Challenges</h1>

<div class="profile">
	<aside>
		<div class="user-profile container">
			<ul>
				<li>Username: <%= @user.name %></li>
				<li>Email: <%= @user.email %></li>
			</ul>
		</div>
	</aside>
</div>

<div class="challenges">
	<div class="new-challenge-header">
		<h3>Register new challenge:</h3>
		<div class="list-group">
			<div class="list-group-item">
				<%= form_for(@challenge_add, :html => {:class => "form-inline"}) do |f| %>
					<div class="form-group">
						<%= f.text_field :name, type: "text", class: "form-control", :placeholder => "Team name" %>
					</div>
					<div class="form-group">
						<%= f.text_field :name, type: "text", class: "form-control", :placeholder => "link" %>
					</div>
					<span class="pull-right">
						<%= f.submit "add", class: "btn btn-default" %>
					</span>
				<% end %>
			</div>
		</div>
	</div>
	<div class="registered-header">
		<h3>Registered challenges:</h3>
	</div>
	<div class="list-group">
		<% @challenges.each do |c|%>
		<a class="list-group-item clearfix">
			<span class="glyphicon glyphicon-eye-open"></span>
			<%= c.name%>
			<span class="pull-right">
				<button class="btn btn-xs btn-info">Update now</button>
				<button class="btn btn-xs btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</span>
		</a>
		<% end %>
	</div>
</div>
